<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Refugio Seguro</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">

<!-- CSS
  ================================================== -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="vendor/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="vendor/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
<link href="css/custom.css" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Color Style -->
<link href="colors/color5.css" rel="stylesheet" type="text/css">
    
        <style type="text/css">
        
          body{
            font-family: tahoma;
        }
        #home{
            background: none;
            height: 100%;
            position:relative;
            height:100vh;
            overflow:hidden;
            
        }
        
        .showme-image{
            display:none;
        }
        #home-bg-video{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
        }
        
        #home-overlay{
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            height: 100vh;
            position: relative;
        }
        
        #home-content{
            width: 100%;
            height: 100%;
            display: table;
            position:absolute;
            margin: 100px 50px;
        }
        
        #home-content-inner{
            display: table-cell;
            vertical-align: middle;
            
        }
        
        #home-heading h1{
            color: #fff;
            font-size: 65px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 -200px;
            text-shadow: 2px 2px 4px #000000
        }
        
        #home-heading h1 span{
            color: #f4c613;
            font-weight: 700;
            font-weight: 100;
            margin: 8px 0 30px 0;
        }
        
        #home-text p{
            color: #fff;
            font-size: 15px;
        }

             .arrow-down{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 200px;
  z-index:999999999;

}

.arrow-down::after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  margin:auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform:rotate(45deg);
  animation: 3s arrow infinite ease;
  z-index:999999999;
}
        
                 .hero-slider.flexslider ul.slides li{
         height:83vh;
     }
     .hero-slider.flexslider{
    height:83vh;
     }
        
        
    @media only screen and (max-width: 500px) {
        
         #home-heading h1{
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            text-shadow: 2px 2px 4px #000000
        }
        
        #home-heading h1 span{
            color: #f4c613;
            font-weight: 700;
            font-weight: 100;
            margin: 8px 0 30px 0;
        }
        
        #home-text p{
            color: #fff;
            font-size: 15px;
        }
            
                    #home-content{
            width: 100%;
            height: 100%;
            display: table;
            position:absolute;
            margin: 0;
        }
                     #home{
            background: none;
            height: 100%;
            position:relative;
            height:70vh;
            overflow:hidden;
            
        }
        
             #home-bg-video{
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            height:100vh;
            z-index: -1;
        }
          
                    .showme-video{
                display:none;
            }
            .showme-image{
                display:block;
            }
        
        
                    .members-list li {
                margin-bottom:50px;
            }
        
                .sticky-header .main-navigation > ul > li > a {
        
            color:black!important;
            
        }
        
        .iframemovie{
            width: 100%;
            height: 185px;
        
        }

        .smallMe{
            margin-bottom: 5%;
        }
        
         .hero-slider.flexslider ul.slides li{
         height:60vh;
     }
     .hero-slider.flexslider{
    height:60vh;
     }
        
        
                     .arrow-down{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 100px;
  z-index:999999999;

}

.arrow-down::after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  margin:auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform:rotate(45deg);
  animation: 3s arrow infinite ease;
  z-index:999999999;
}
        
    }
                @media only screen and (max-width: 600px) and (min-width: 500px) {
                    
                            .sticky-header .main-navigation > ul > li > a {
        
            color:black!important;
            
        }
                    
                .iframemovie{
            width: 100%;
            height: 310px;
        }            
                    
            .showme-video{
                display:none;
            }
            .showme-image{
                display:block;
            }
            
            .members-list li {
                margin-bottom:50px;
            }
            
             #home-heading h1{
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            text-shadow: 2px 2px 4px #000000
        }
        
        #home-heading h1 span{
            color: #f4c613;
            font-weight: 700;
            font-weight: 100;
            margin: 8px 0 30px 0;
        }
        
        #home-text p{
            color: #fff;
            font-size: 15px;
        }
            
                    #home-content{
            width: 100%;
            height: 100%;
            display: table;
            position:absolute;
            margin: 0;
        }
    }
            
    @media only screen and (max-width: 1024px) and (min-width: 600px) {
        
        
                .sticky-header .main-navigation > ul > li > a {
        
            color:black!important;
            
        }
        
        .iframemovie{
            width: 100%;
            height: 385px;
        }
        
                .smallMe{
            margin-bottom: 5%;
        }
        
        
        .flex-caption{
            display:block !important;
        }
             .arrow-down{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 300px;
  z-index:999999999;

}

.arrow-down::after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  margin:auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform:rotate(45deg);
  animation: 3s arrow infinite ease;
  z-index:999999999;
}
        
        
            }
            
            
            
            
    .btn-danger{
      display:none; 
     }
     
     .label-danger{
     
       display:none;
     }
     

     



@keyframes arrow{
  0%, 100%{
    top:50px;
  }
  50%{
    top:80px;
  }
}

    

    </style>
    
       <%   if(currentUser && currentUser.isAdmin){ %>

     <script>
Swal({
  position: 'top-end',
  type: 'success',
  title: 'Welcome, Your an admin!',
  padding: '1em',
  showConfirmButton: false,
  timer: 1500
})
 </script>  
   
   <style>
     
     .btn-danger{
      display:block; 
     }
     
          .label-danger{
     
       display:block;
     }
     

   </style>
   
   <% } %>
    
    
<!-- SCRIPTS
  ================================================== -->
<script src="js/modernizr.js"></script><!-- Modernizr -->
</head>
<body class="home home-style2">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body"> 
	<!-- Start Site Header -->
	<header class="site-header">
    	<div class="container for-navi">
        	<div class="site-logo">
            <h1>
                <a href="/">
                    <span class="logo-icon"><img src="images/Untitled%20design.png"></span>
                </a>
            </h1>
            </div>
            <!-- Main Navigation -->
            <nav class="main-navigation" role="navigation">
                <ul class="sf-menu">
                    <li><a href="/about">About us</a>
                    </li>
                    <li><a href="javascript:void(0)">Minstry</a>
                    	<ul class="dropdown">
                               <li><a href="/ministry/woman">Woman Ministry</a></li>
                                    <li><a href="/ministry/praise">Praise Ministry</a></li>
                                    <li><a href="/ministry/youth">Youth Ministry</a></li>
                                    <li><a href="/ministry/children">Children Ministry</a></li>
                       	</ul>
                   	</li>
                    <li><a href="/events">Events</a>
                    </li>
                    <li class="megamenu"><a href="javascript:void(0)">Gallery</a>
                    </li>
                    <li><a href="javascript:void(0)">Blog</a>
                        <ul class="dropdown">
                            <li><a href="blog-standard.html">Standard Blog</a></li>
                            <li><a href="blog-masonry.html">Masonry Blog</a></li>
                            <li><a href="blog-post.html">Single Post</a></li>
                        </ul>
                    </li>
                	<li><a href="/contact">Contact</a></li>
                	<%   if(currentUser){ %>
                	
                	<li><a href="/logout"><span style="color:#fff; font-weight:700; background:red; padding:8px; border-radius:12px;">logout</span></a></li>
                	
                	<% } %>
                	
                	  <li title="Offering"><a href="#" data-toggle="modal" data-target="#EOffering" class="event-contact-link"><i class="icon-mail"></i> Give</a></li>
                </ul>
            </nav>
            <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
    	</div>
	</header>
	<!-- End Site Header -->
    <!-- Start Hero Slider -->
    
    
    

    
<section id="home">
    <div class="showme-video">
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="home-bg-video">
    <source id="video-play" src="media/RSChurchPromoV2.mp4">
</video>
</div>
<div class="showme-image">
    <img src="media/refugioseguro.gif" id="home-bg-video">
    </div>
    <div id="home-overlay">
        <div class="container">
            <div id="home-content">
                <div id="home-content-inner" class="text-left">
                    <div id="home-heading">
                    <h1 id="home-heading-1">Refugio Seguro</h1>
                    <h1 id="home-heading-2"><span>Iglesia Familiar</span></h1>
                    </div>
                
                <div id="home-text">
                    <p style="font-size:20px;">Domingo 2:00 PM || Thursday 7:00 PM </p>
                </div>
                    </div>
            </div>
        </div>
    </div>
    
    
</section>   
    <div class="arrow-down"></div>

    <!-- End Hero Slider -->
    <div class="upcoming-event-bar event-dynamic">
        <div class="container">
            <div class="row">
            	<div class="col-md-5 col-sm-5">
                	<% var i=0; var currentTime = new Date(); currentTime.setHours(0,0,0,0); %>
                	<%event.forEach(function(allevents){ %>
                	<% var timestring = allevents.time.charAt(0); %>
                	<%if (i < 1 && allevents.dateOfEvent.setHours(parseInt(timestring)) >= currentTime){ %>
                	<span class="label label-primary">Upcoming Event</span> <a href="/events/<%=allevents._id%>/edit" class="label label-danger">Edit Event</a>
                	<h3><a data-html="true" href="http://www.refugioseguro.com/events/<%=allevents._id%>" class="event-title"><%=allevents.title%></a></h3>
                   	<span class="meta-data">On <span class="event-date"><%=allevents.month%> <%=allevents.monthDay%>, 2019</span> at <span class="event-time"><%=allevents.time%></span> at</span><span class="meta-data event-location"> <span class="event-location-address"><%=allevents.address%></span></span>
                </div>
                <div class="col-md-5 col-sm-7">
                    <div id="counter" class="counter clearfix" data-date="<%=allevents.month%> <%=allevents.monthDay%>, 2019 <%=allevents.time%>">
                        <div class="timer-col"> <span id="days"></span> <span class="timer-type">Days</span> </div>
                        <div class="timer-col"> <span id="hours"></span> <span class="timer-type">Hours</span> </div>
                        <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">Minutes</span> </div>
                        <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">Seconds</span> </div>
                    </div>
                </div>
                <div class="col-md-2 text-align-right">
                    <ul class="action-buttons">
                        <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                        <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                        <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>
                    </ul>
                    <a href="/events/<%=allevents._id%>" class="btn btn-primary btn-sm ">View Event</a>
                </div>
                                <% i++  } %>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Lead Content -->
    <div class="lead-content clearfix">
    	<div class="lead-content-wrapper">
    		<div class="container">
                <div class="row">
    <% var index = 0;  %>    
    <% home.forEach(function(allhome){  %>
   <%  if(index == 0){ %>
                	<div class="col-md-7">
                    	<h2><%=allhome.title%></h2>
                    	<hr class="sm">
                    	<h4><%=allhome.subTitle%></h4>
                    	<p><%=allhome.paragraph%></p>
                        <a href="/about" class="btn btn-primary">View More about our ministry</a> <a href="/about/<%=allhome._id%>/edit" class="btn btn-danger">Edit About Refugio Seguro</a>
                        <hr><div style="background: linear-gradient(45deg, rgba(58,96,115,.01) 0%, rgba(226,115,115,.08) 100%);padding: 20px; border-radius: 10px;" class="smallMe"><p style="font-weight: 600">Verse of the day</p>
                        <div id="ourmanna-verse">Loading...</div>
<script src="https://www.ourmanna.com/verses/api/js/" type="text/javascript"></script>
                   	</div>
                 </div>
                    <div class="col-md-5">
                    	<div class="fw-video">
                    		<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FRefugioSeguroIglesia%2Fvideos%2F368869227024981%2F&show_text=0&width=500&mute=0" width="500" height="281" style="border: 2px solid grey; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true" class="iframemovie"></iframe>
                        </div>
                    </div>
                
    <% } index++; }); %>
               	</div>
                <div class="spacer-50"></div>
            	<div class="row" style="background-color: #fff; border-radius: 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; padding: 20px;" >
<% var index = 0;  %>    
<% ministry.forEach(function(allministry){  %>
   <%  %>
   
                       <div class="col-md-3 col-sm-3 featured-block">
                        <h3><%=allministry.title%></h3>
                        <figure>
                        
                        	       <%  if(index == 0){ %>
                        	    	<a href="/ministry/woman"><img src="images/homeministry/Woman.jpg" alt="Our Woman Ministry"></a>
                    	</figure>
                   		<p><%=allministry.description%></p>
                        <a href="/ministry/woman" class="btn btn-primary">See More</a><a href="/ministry/<%=allministry._id%>/edit" class="btn btn-danger">Edit Ministry</a>                        	    
                        	    
                        	    <% } if(index == 1){ %>
                 	<a href="/ministry/praise"><img src="images/homeministry/Image5.png" alt="Our Praise Ministry"></a>
                    	</figure>
                   		<p><%=allministry.description%></p>
                        <a href="/ministry/praise" class="btn btn-primary">See More</a><a href="/ministry/<%=allministry._id%>/edit" class="btn btn-danger">Edit Ministry</a>                 	
                 	
                        	    <% } if(index == 2){ %>
                         	<a href="/ministry/youth"><img src="images/homeministry/youth.jpg" alt="Our Youth Ministry"></a>
                         	
                    	</figure>
                   		<p><%=allministry.description%></p>
                        <a href="/ministry/youth" class="btn btn-primary">See More</a><a href="/ministry/<%=allministry._id%>/edit" class="btn btn-danger">Edit Ministry</a>                         	
                       	    
                        	    <% } if(index == 3){ %>
                         	<a href="/ministry/children"><img src="images/homeministry/Image3.png" alt="Our Children Ministry"></a>
                         	
                    	</figure>
                   		<p><%=allministry.description%></p>
                        <a href="/ministry/children" class="btn btn-primary">See More</a><a href="/ministry/<%=allministry._id%>/edit" class="btn btn-danger">Edit Ministry</a>                         	
                     
                        	    <% } %>
                        	    

                    </div>
   
   
   <%  index++ }); %>
                   

                    <!--<div class="col-md-3 col-sm-3 featured-block">-->
                    <!--    <h3>Praise Ministry</h3>-->
                    <!--    <figure>-->
                    <!--    	<a href="praise.html"><img src="images/Image5.PNG" alt="Our Praise Team"></a>-->
                    <!--	</figure>-->
                   	<!--	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>-->
                    <!--    <a href="praise.html" alt="Our Praise Team" title="PraiseTeam" class="btn btn-primary">See More</a><a class="btn btn-danger">Edit Praise Team</a>-->

                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-3 featured-block">-->
                    <!--    <h3>Youth Ministry</h3>-->
                    <!--    <figure>-->
                    <!--    	<a href="youth.html"><img src="images/Image8.PNG" alt="Our Community"></a>-->
                    <!--	</figure>-->
                   	<!--	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>-->
                    <!--    <a href="youth.html" class="btn btn-primary">See More</a><a class="btn btn-danger">Edit Youth</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-3 featured-block">-->
                    <!--    <h3>Children Ministry</h3>-->
                    <!--    <figure>-->
                    <!--    	<a href="new-here.html"><img src="images/Image4.PNG" alt="Our Community"></a>-->
                    <!--	</figure>-->
                   	<!--	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>-->
                    <!--    <div class="btn btn-primary">See More</div><a class="btn btn-danger">Edit Children Ministry</a>-->
                    <!--</div>-->
                </div>
        	</div>
        </div>
    </div>

    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
        	<div class="container">
            	<div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="widget latest_sermons_widget">
                            <ul>
                                <li class="most-recent-sermon clearfix">
                                    <h3>Last Service</h3>
                                    <hr class="sm">
                                    <div class="latest-sermon-video fw-video">
                                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FRefugioSeguroIglesia%2Fvideos%2F1312394178903280%2F&show_text=0&width=560" width="420" height="225" class="iframemovie" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                                    </div>
                                    <div class="latest-sermon-content">
                                        <h4><a href="single-sermon.html">Sunday Service</a></h4>
                                        <div class="meta-data">Preaching: <a href="#">Ramiro Garza</a></div>
                                        <p>"There is never a obstacle to big enough for the children of God. If you believe, you will achieve."</p>
                                    </div>
                                    <div class="sermon-links">
                                        <ul class="action-buttons">
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Watch Video"><i class="icon-video-cam"></i></a></li>
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Listen Audio"><i class="icon-headphones"></i></a></li>
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Download Audio"><i class="icon-cloud-download"></i></a></li>
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Download PDF"><i class="icon-download-folder"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <a href="/events/new" class="btn btn-danger">Add Sermon</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="element-block events-listing">
                            <div class="events-listing-header">
                                <a href="/events" class="pull-right basic-link">All Events</a>
                                <h3 class="element-title">Upcoming Events</h3><a href="/events/new" class="btn btn-danger">Add Event</a>
                                <hr class="sm">
                            </div>
                            <% var i = 0; %>
                            <% event.forEach(function(allevents){ %>
                            
                        
                            <% if(i < 4){ %>
                            <div class="events-listing-content">
                                <div class="event-list-item event-dynamic">
                                	<div class="event-list-item-date">
                                    	<span class="event-date">
                                        	<span class="event-day"><%=allevents.monthDay%></span>
                                        	<span class="event-month"><%=allevents.month%>, <%=allevents.monthDay%></span>
                                        </span>
                                    </div>
                                    <div class="event-list-item-info">
                                    	<div class="lined-info">
                                        	<h4><a href="/events/<%=allevents._id%>" class="event-title"><%=allevents.title%></a></h4>
                                        </div>
                                    	<div class="lined-info">
                                        	<span class="meta-data"><i class="fa fa-clock-o"></i> <%=allevents.day%>, <span class="event-time"><%=allevents.time%></span></span>
                                        </div>
                                    	<div class="lined-info event-location">
                                        	<span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address"><%=allevents.address%></span></span>
                                        </div>
                                    </div>
                                    <div class="event-list-item-actions">
                                    	<a href="/events/<%=allevents._id%>" class="btn btn-default btn-transparent">View Event</a>
                                    	<ul class="action-buttons">
                                        	<li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                                        	<li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                                        	<li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <% i++; %>
                            <% }  %>
                            <% });  %>
                            <!--<div class="events-listing-content">-->
                            <!--    <div class="event-list-item event-dynamic">-->
                            <!--    	<div class="event-list-item-date">-->
                            <!--        	<span class="event-date">-->
                            <!--            	<span class="event-day">19</span>-->
                            <!--            	<span class="event-month">Jan, 19</span>-->
                            <!--            </span>-->
                            <!--        </div>-->
                            <!--        <div class="event-list-item-info">-->
                            <!--        	<div class="lined-info">-->
                            <!--            	<h4><a href="single-event.html" class="event-title">Sunday Service</a></h4>-->
                            <!--            </div>-->
                            <!--        	<div class="lined-info">-->
                            <!--            	<span class="meta-data"><i class="fa fa-clock-o"></i> Monday, <span class="event-time">10:00 AM</span></span>-->
                            <!--            </div>-->
                            <!--        	<div class="lined-info event-location">-->
                            <!--            	<span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">State Route, Madison US</span></span>-->
                            <!--            </div>-->
                            <!--        </div>-->
                            <!--        <div class="event-list-item-actions">-->
                            <!--        	<a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a>-->
                            <!--        	<ul class="action-buttons">-->
                            <!--            	<li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>-->
                            <!--            	<li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>-->
                            <!--            	<li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>-->
                            <!--            </ul>-->
                            <!--        </div>-->
                            <!--    </div>-->
                            <!--    <div class="event-list-item event-dynamic">-->
                            <!--    	<div class="event-list-item-date">-->
                            <!--        	<span class="event-date">-->
                            <!--            	<span class="event-day">27</span>-->
                            <!--            	<span class="event-month">Sep, 14</span>-->
                            <!--            </span>-->
                            <!--        </div>-->
                            <!--        <div class="event-list-item-info">-->
                            <!--        	<div class="lined-info">-->
                            <!--            	<h4><a href="single-event.html" class="event-title">Sunday Meet Up</a></h4>-->
                            <!--            </div>-->
                            <!--        	<div class="lined-info">-->
                            <!--            	<span class="meta-data"><i class="fa fa-clock-o"></i> Sunday, <span class="event-time">05:00 PM</span></span>-->
                            <!--            </div>-->
                            <!--        	<div class="lined-info event-location">-->
                            <!--            	<span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">55 Warren Street, New York</span></span>-->
                            <!--            </div>-->
                            <!--        </div>-->
                            <!--        <div class="event-list-item-actions">-->
                            <!--        	<a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a>-->
                            <!--        	<ul class="action-buttons">-->
                            <!--            	<li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>-->
                            <!--            	<li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>-->
                            <!--            	<li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>-->
                            <!--            </ul>-->
                            <!--        </div>-->
                            <!--    </div>-->
                            <!--    <div class="event-list-item event-dynamic">-->
                            <!--    	<div class="event-list-item-date">-->
                            <!--        	<span class="event-date">-->
                            <!--            	<span class="event-day">06</span>-->
                            <!--            	<span class="event-month">Feb, 15</span>-->
                            <!--            </span>-->
                            <!--        </div>-->
                            <!--        <div class="event-list-item-info">-->
                            <!--        	<div class="lined-info">-->
                            <!--            	<h4><a href="single-event.html" class="event-title">Holy shift: Strategic think</a></h4>-->
                            <!--            </div>-->
                            <!--        	<div class="lined-info">-->
                            <!--            	<span class="meta-data"><i class="fa fa-clock-o"></i> Monday, <span class="event-time">10:00 AM</span></span>-->
                            <!--            </div>-->
                            <!--        	<div class="lined-info event-location">-->
                            <!--            	<span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">123 Broadway, New York, NY</span></span>-->
                            <!--            </div>-->
                            <!--        </div>-->
                            <!--        <div class="event-list-item-actions">-->
                            <!--        	<a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a>-->
                            <!--        	<ul class="action-buttons">-->
                            <!--            	<li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>-->
                            <!--            	<li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>-->
                            <!--            	<li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>-->
                            <!--            </ul>-->
                            <!--        </div>-->
                            <!--    </div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
        	</div>
           	<div class="spacer-30"></div>
           	<div class="lgray-bg padding-tb45">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>From our blog</h3><a class="btn btn-danger">Add Blog</a>
                            <hr class="sm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="very-latest-post format-standard">
                                        <div class="title-row">
                                            <a href="blog-post.html#comments" class="comments-go" title="10 comments"><i class="icon-dialogue-text"></i></a>
                                            <h4>Very latest</h4>
                                        </div>
                                        <a href="blog-post.html" class="media-box post-thumb">
                                            <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                        </a>
                                        <h3 class="post-title"><a href="blog-post.html">Don't run behind the charm</a></h3>
                                        <div class="meta-data">by <a href="#">imithemes</a> on 25th August, 2014 in <a href="#">General</a></div>
                                        <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec vulputate nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec vulputate eget...</p>
                                        <p><a href="blog-post.html" class="btn btn-primary">Continue reading</a></p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <ul class="blog-classic-listing">
                                        <li class="format-standard">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="blog-post.html" class="media-box post-thumb">
                                                        <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-md-8">
                                                    <a href="blog-post.html"><strong class="post-title">Don't run behind the charm</strong></a>
                                                    <div class="meta-data">by <a href="#">imithemes</a> on 25th August, 2014 in <a href="#">General</a></div>
                                                    <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget...</p>
                                                    <p><a href="blog-post.html" class="basic-link">Continue reading</a></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="format-standard">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="blog-post.html" class="media-box post-thumb">
                                                        <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-md-8">
                                                    <a href="blog-post.html"><strong class="post-title">Robin Williams: The death of our captain</strong></a>
                                                    <div class="meta-data">by <a href="#">imithemes</a> on 12th August, 2014 in <a href="#">General</a></div>
                                                    <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget...</p>
                                                    <p><a href="blog-post.html" class="basic-link">Continue reading</a></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="format-standard">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="blog-post.html" class="media-box post-thumb">
                                                        <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-md-8">
                                                    <a href="blog-post.html"><strong class="post-title">EPPN: It’s Time For Prison Reform</strong></a>
                                                    <div class="meta-data">by <a href="#">imithemes</a> on 31st July, 2014 in <a href="#">General</a></div>
                                                    <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget...</p>
                                                    <p><a href="blog-post.html" class="basic-link">Continue reading</a></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer-30"></div>
<div class="spacer-40"></div>
            <div class="container">
                <h3>Staff</h3>
                <hr class="sm">
                <ul class="members-list row">
                    <li class="col-md-2 col-sm-4 col-xs-6">
                        <img src="images/staffsmall/ram.jpg" alt="" width="100" height="100">
                        <h5>Ramrio Garza</h5>
                        <span class="meta-data">Pastor Principal</span>
                        <ul class="social-icons-colored">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6">
                        <img src="images/staffsmall/cris.JPG" alt="" width="100" height="100">
                        <h5>Cristina Garza</h5>
                        <span class="meta-data">Pastor Principal</span>
                        <ul class="social-icons-colored">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6">
                        <img src="images/staffsmall/youthchange.JPG" alt="" width="100" height="100">
                        <h5>Javier y Elsa Martinez </h5>
                        <span class="meta-data">Pastores de Jóvenes</span>
                        <ul class="social-icons-colored">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6">
                        <img src="images/staffsmall/praisechange.JPG" alt="" width="100" height="100">
                        <h5>Adorian Cordova</h5>
                        <span class="meta-data">Praise & Worship Director</span>
                        <ul class="social-icons-colored">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6">
                        <img src="images/staffsmall/childrenchange.JPG" alt="" width="100" height="100">
                        <h5>Brandon Dean</h5>
                        <span class="meta-data">Children Ministry Director</span>
                        <ul class="social-icons-colored">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6">
                        <img src="images/staffsmall/samchange.JPG" alt="" width="100" height="100">
                        <h5>Sam Olivares</h5>
                        <span class="meta-data">Connections Coordinator</span>
                        <ul class="social-icons-colored">
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </li>
                </ul>            
            </div>
            <br>
            <br>]
                 

        </div>
   	</div>
    <!-- End Body Content -->
    <!-- Gallery updates -->
    <div class="page-header parallax clearfix">
    	<div id="contact-map"></div>
    </div>
    
                
    <!-- Start site footer -->
  
  
  
    <% include ./partials/rsfooter %>
  
  
  
  
    <!-- End site footer -->
  	<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>  
</div>
<!-- Event Directions Popup -->
<div class="quick-info-overlay">
	<div class="quick-info-overlay-left accent-bg">
        <a href="#" class="btn-close"><i class="icon-delete"></i></a>
    	<div class="event-info">
    		<h3 class="event-title"></h3>
      		<div class="event-address"></div>
            <a href="" class="btn btn-default btn-transparent btn-permalink">Full details</a>
        </div>
    </div>
	<div class="quick-info-overlay-right">
      	<div id="event-directions"></div>
    </div>
</div>
<!-- Event Contact Modal Window -->
<div class="modal fade" id="Econtact" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="Econtact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact Event Manager <span class="accent-color"></span></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="fname" class="form-control" placeholder="First name (Required)">
                </div>
                <div class="col-md-6">
                    <input type="text" name="lname" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="email" name="email" class="form-control" placeholder="Your email (Required)">
                </div>
                <div class="col-md-6">
                    <input type="number" name="phone" class="form-control" placeholder="Your phone">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea rows="3" cols="5" class="form-control" placeholder="Additional notes"></textarea>
                </div>
            </div>
            <input type="submit" name="donate" class="btn btn-primary btn-lg btn-block" value="Contact Now">
        </form>
      </div>
      <div class="modal-footer">
        <p class="small short">If you would prefer to call in for inquiries, please call 1800.785.876</p>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="EOffering" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="EOffering" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Online Offering <span class="accent-color"></span></h4>
      </div>
      <div class="modal-body">
        <form id="myForm" action="/charge" method="POST">
                            <label>Amount:</label>
            <div class="row">
                <div class="col-md-6">
                <input class="form-control" id="hello" type ="number"  min="0.01" step="1.00" max="2500" value="5.00" name="Amount">
                </div>
                <div class="col-md-6">
                    <script src="https://checkout.stripe.com/checkout.js"></script>
                        <input type="hidden" id="stripeToken" name="stripeToken" />
                        <input type="hidden" id="stripeEmail" name="stripeEmail" />
                    <button type="submit" class="btn btn-primary form-control" id="customButton">Proceed with payment</button>   
                </div>
                    
            </div>
            
<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_TaVn2jvIdYAuA8ZwVRqQF1YA',
  image: 'https://scontent-dfw5-1.xx.fbcdn.net/v/t31.0-8/15937293_702429746602294_1257383716040040171_o.png?_nc_cat=111&_nc_ht=scontent-dfw5-1.xx&oh=f943ddf0358410cf6f5cd4296d0f099e&oe=5CE576F0',
  locale: 'auto',
  token: function(token) {
  $("#stripeToken").val(token.id);
  $("#stripeEmail").val(token.email);
  $("#myForm").submit();
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  
  var b = document.getElementById('hello').value;
  
  handler.open({
    name: 'Refugio Seguro',
    description: 'Offering',
    amount: Math.round(b * 100)
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
                        
            
            
            
            
        </form>
      </div>
      <div class="modal-footer">
        <p class="small short">If you would prefer to call in for inquiries, please call 1800.785.876</p>
      </div>
    </div>
  </div>
</div>






<script src="js/jquery-2.0.0.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="js/home.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
<script src="vendor/countdown/js/jquery.countdown.min.js"></script> <!-- Jquery Timer -->
<script src="vendor/mediaelement/mediaelement-and-player.min.js"></script> <!-- MediaElements --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANr_qvvNemkl5ttYfoveX-1lsGkEVM9UI"></script>


<script type="text/javascript">
var geocoder = new google.maps.Geocoder();
var address = "North Birch Street - Pharr, Texas - 78577 USA"; //Add your address here, all on one line.
var latitude;
var longitude;
var color = "#3bafda"; //Set your tint color. Needs to be a hex value.

function getGeocode() {
	geocoder.geocode( { 'address': address}, function(results, status) {
		if (status == google.maps.GeocoderStatus.OK) {
    		latitude = results[0].geometry.location.lat();
			longitude = results[0].geometry.location.lng(); 
			initGoogleMap();   
    	} 
	});
}

function initGoogleMap() {
	var styles = [
	    {
	      stylers: [
	        { saturation: -100 }
	      ]
	    }
	];
	
	var options = {
		mapTypeControlOptions: {
			mapTypeIds: ['Styled']
		},
		center: new google.maps.LatLng(latitude, longitude),
		zoom: 13,
		scrollwheel: false,
		navigationControl: false,
		mapTypeControl: false,
		zoomControl: true,
		disableDefaultUI: true,	
		mapTypeId: 'Styled'
	};
	var div = document.getElementById('contact-map');
	var map = new google.maps.Map(div, options);
	marker = new google.maps.Marker({
	    map:map,
	    draggable:false,
	    animation: google.maps.Animation.DROP,
	    position: new google.maps.LatLng(latitude,longitude)
	});
	var styledMapType = new google.maps.StyledMapType(styles, { name: 'Styled' });
	map.mapTypes.set('Styled', styledMapType);
	
	var infowindow = new google.maps.InfoWindow({
	      content: "<div class='iwContent'>"+address+"</div>"
	});
	google.maps.event.addListener(marker, 'click', function() {
	    infowindow.open(map,marker);
	  });
	
	
	bounds = new google.maps.LatLngBounds(
	  new google.maps.LatLng(-84.999999, -179.999999), 
	  new google.maps.LatLng(84.999999, 179.999999));

	rect = new google.maps.Rectangle({
	    bounds: bounds,
	    fillColor: color,
	    fillOpacity: 0.2,
	    strokeWeight: 0,
	    map: map
	});
}
google.maps.event.addDomListener(window, 'load', getGeocode);
</script>



</body>
</html>